*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: rgb(0, 0, 0);
    height: 100vh;
    position: relative;
}
/* navbar */
.navbar{
    position: absolute;
    top: 5%;
    right: 0%;
    height: 200px;
    width: 300px;
    z-index: 100;
    position: fixed;
}

.navbar ul{
    list-style: none;
    display: inline;
  }
  
  .navbar ul>li{
      display:inline-block ;   
  }
  
  .navbar a{
  
   text-decoration: none;
   color: rgb(0, 0, 0);
   display: inline-block;
   font-weight: bolder;
   font-family: 'Dela Gothic One', cursive;
   font-size: 20px;
   padding: 10px 15px;
   margin: 0 15px ;
   background-color: white;
   border-radius: 100%;
   font-size: 15px;
   
  }

.sections{
    height: 100vh;
    width: 100%;
    position: relative;
}

.products{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;


}
/* colori varie sezioni */
.bg-r{
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 0);
}
.bg-g{
    background-color: rgb(0, 128, 0);
    color: rgb(255, 255, 0);
}
.bg-y{
    background-color: rgb(255, 255, 0);
    color: rgb(0, 128, 0);
}

/* font e stile h1 */
.products h1{
    font-family: 'Dela Gothic One', cursive;
    font-size: 60px;
    font-weight: 900;
}
